@model Product
@{
    string title = ViewBag.Action + " Product";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Author">Author</label>
        <input asp-for="Author" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Genre">Genre</label>
        <input asp-for="Genre" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="LastUpdatedBy">Last Update By</label>
        <input asp-for="LastUpdatedBy" class="form-control">
    </div>

    <input type="hidden" asp-for="ID" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>