@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<p>We are Entertainment Guild. We offer a variety of entertainment proucts ranging from different genres to different mediums. Have a look at our products and enjoy your visit!</p>
