@{
    ViewData["Title"] = "Home";
}

<h1>Featured Product</h1>

<p>Welcome to Entertainment Guild! We offer a variety of products with different genre on different medium.</p>


<h1>Product Categories</h1>

