@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<div></div>

<div>
    <h2>About this Policy</h2>
    <p>Thank you for using Entertainment Guild. This Privacy Poilcy describes how we collectm use, disclose, and protect your personal information in connection with your use of our web application and related services. By accessing or using our service, you agree to the terms of this Privacy Policy.</p>
</div>

<div>
    <h2>Information we Collect</h2>
    <p>
        We collect personal information you provide directly to us, such as your name, email address, shipping address, and payment information when you make a purchase on our website. We also collect information automatically as you navigate through our website, including usage details and IP addresses.
    </p>
</div>

<div>
    <h2>How we Use your Information</h2>
    <p>
        We may use the information we collect from you to:
        Process and fulfill your orders.
        Provide you with information, products, or services that you request from us.
        Improve our website and user experience.
        Send you promotional materials, updates, and news about our products and services.
        Monitor and analyze trends, usage, and activities in connection with our services.
    </p>
</div>

<div>
    <p>
        If you have any questions about this Privacy Policy, please contact us at entertainment@guild.com

        By using our services, you consent to the collection and use of your information as described in this Privacy Policy.

        Thank you for trusting us with your information.

        Sincerely,

        Entertainment Guild
        123
        Entertainment Street, 
        Guild, ABC
        entertainment@guild.com
        0123456789
    </p>
</div>